@model List<Usuario>

<h2 class="text-center mb-5">Lista de Usuários</h2>

<div id="message-box" class="alert" style="display: none"></div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            th
        </tr>
    </thead>
</table>